body {
    margin-left: 2vw;
}

h1 {
    font: 30px Helvetica, sans-serif;
    font-weight: bold;
}

label {
    font: 16px Helvetica, sans-serif;
}

p, input {
    display: inline;
    font: 16px Helvetica, sans-serif;
}

#amortization, #payment-frequency {
  width: 150px;
  height: 35px;
}

